* {
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
}

html,
body,
#react {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.container {
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
