* {
    font-family: "Hind", sans-serif;
}

html,
body,
#react {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;

    min-height: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
}
