@import "palette";

/* BATCHES PAGE STYLE */

$batch-card-height: 280px;
$batch-card-width: 240px;

.batches {
    @extend .content;
}

.batches-title,
.batches-form-title,
.batches-batch-title {
    font-size: 3.25em;
    line-height: 1.25em;
    margin: 24px;
}

.batches-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    padding: 0;
    text-align: center;
}

.batches-item {
    flex: 0;
    margin: 30px;
    min-height: $batch-card-height;
    min-width: $batch-card-width;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.batches-item:hover {
    background: lighten($accent-color, 20%);
}

.batches-item .mdl-card__title {
    margin: 0;
}

.batches-item .batches-item-name {
    display: block;
    font-size: 2em;
}

.batches-item .batches-item-count {
    flex-grow: 1;
    font-size: 1.25em;
    padding: 10px 15px;
}

.batches-item .batches-add {
    color: $primary-color;
    display: block;
    font-size: 2.5em;
    left: 0;
    line-height: $batch-card-height;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
}

.batches-item .batches-item-schedule {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.batches-item .batches-item-schedule-item {
    border: 1px solid $divider-color;
    flex: 1;
    font-size: 1em;
    font-weight: 600;
    height: auto;
    max-width: 55px;
    padding: 10px;
    text-align: center;
    word-wrap: normal;
}

/* BATCHES FORM STYLE, BATCHES VIEW STYLE */

/* inherit content to batches-form */
.batches-form, .batches-batch {
  @extend .content;
  text-align: center;
}

.batches-batch-classes,
.batches-batch-tests,
.batches-batch-students {
  margin: 100px auto;
}

.batches-form input,
.batches-form label {
    text-align: center;
}

.batches-form button,
.batches-batch button {
    margin: 20px;
    width: 105px;
}

.batches-form h5,
.batches-batch h5 {
    color: $secondary-text-color;
}

.batches-form-name,
.batches-batch-name {
    display: block;
    margin: auto;
    width: 600px;
}

.batches-form-name input,
.batches-form-name label {
    font-size: 2.75em;
    line-height: normal;
}

.batches-form-year,
.batches-form-standard,
.batches-batch-year,
.batches-batch-standard {
    width: 250px;
}

.batches-form-year input,
.batches-form-standard input,
.batches-form-year label,
.batches-form-standard label,
.batches-batch-year,
.batches-batch-standard {
    font-size: 1.75em;
    line-height: normal;
}

.batches-batch-year,
.batches-batch-standard {
  display: inline-block;
  text-align: center;;
}

.batches-form-buttons,
.batches-batch-buttons {
    margin: 10px auto 50px;
}

.batches-form .batches-form-buttons-left,
.batches-form .batches-form-buttons-right,
.batches-batch .batches-batch-buttons-left,
.batches-batch .batches-batch-buttons-right {
    display: inline-block;
    width: 50%;
}

.batches-form .batches-form-buttons-left,
.batches-batch .batches-batch-buttons-left {
    text-align: right;
}

.batches-form .batches-form-buttons-right,
.batches-batch .batches-batch-buttons-right {
    text-align: left;
}

.batches-form li,
.batches-batch li {
    cursor: pointer;
    display: inline-block;
    line-height: 50px;
    margin: 0 20px;
}

.batches-form-day {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: auto;
}

.batches-batch-dot {
  border-radius: 10px;
  height: 10px;
  width: 10px;
  margin: 20px;
  background: $primary-color-light;
}

.batches-batch li.exists .batches-batch-dot {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: auto;
  background: $primary-color-light;
}

.batches-form li.suggest .batches-form-day {
    border: 1px solid $primary-color-light;
}

.batches-form li.selected .batches-form-day {
    background: $primary-color-light;
}

.batches-form-students li,
.batches-batch-students li {
    border-radius: initial;
    line-height: normal;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85px;
}

.batches-form-students li.selected::before {
    background: $primary-color-light;
    border-radius: 50px;
    content: "";
    display: block;
    height: 50px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
}

.batches-form-students li img,
.batches-batch-students li img {
    border-radius: 50px;
    display: block;
    margin: 10px auto;
}

.batches-form-time {
    visibility: hidden;
    width: 75px;
}

.batches-form-time.show {
    visibility: visible;
}

.batches-form-time input,
.batches-form-time label {
    font-size: .75em;
    line-height: normal;
}

.batches-form-time span {
    left: 0;
    margin: auto;
    right: 0;
    line-height: 24px;
}
