@import "palette";

$footer-height: 60px;

footer {
    bottom: 0;
    height: $footer-height;
    left: 0;
    margin-top: 50px;
    position: absolute;
    right: 0;
}

.footer-items {
    height: $footer-height;
    line-height: $footer-height;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-items li {
    display: inline-block;
    margin: 0 15px;
    padding: 0 10px;
}
