@import "palette";

.header {
    background: $primary-color;
    border-top: 25px solid $primary-color-dark;
}

.header-content {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 50px;
    max-width: $content-max-width;
    min-width: $content-min-width;
}

.header-content .title {
    flex: 1;
}

.header-content .user-pic {
    flex: 0;
    border: 5px solid $primary-color-text;
    border-radius: 50px;
    height: 75px;
    position: absolute;
}
