@import "palette";

.header {
    background: $primary-color;
    border-top: 25px solid $primary-color-dark;
}

.header .header-content {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: $content-max-width;
    min-width: $content-min-width;
    padding: 50px;
    transition: padding 100ms ease-out;
}

.header-content .title {
    flex: 1;
}

.header-content .title a {
    color: $primary-text-color;
    text-decoration: none;
}

.header-content .user-pic {
    border: 5px solid $primary-color-text;
    border-radius: 50px;
    flex: 0;
    height: 75px;
    position: absolute;
}

.header.minimal {
    border-top-width: 10px;
}

.header.minimal .header-content {
    padding: 10px 50px;
}

.header.minimal .title {
    font-size: 2.5em;
    margin: 10px;
}

.header.minimal .user-pic {
    height: 10px;
    margin-top: -5px;
}
