@import "palette";

.header-wrapper {
    background: $primary-color;
    position: relative;
    padding: 50px 50px 30px 50px;
    border-top: 30px solid $primary-color-dark;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
}

.header h1 {
  flex: 1;
}

.header div {
  flex: 0;
}

.header img {
  position: absolute;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  border: 5px solid $primary-color-text;
}
