/* HEADER STYLES */

.header {
    position: relative;
    padding: 100px 50px 30px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header h1 {
  flex: 1;
}

.header div {
  flex: 0;
}

.header img {
  position: absolute;
  border-radius: 50px;
  width: 75px;
  height: 75px;
}
