@import "palette";

.links-list {
    margin: 100px 0;
    padding: 0;
    list-style: none;
}

.links-list li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    padding: 5px;
}

.links-list li button {
  height: 96px;
  width: 96px;
}

.links-list .number {
  color: $accent-color;
  position: absolute;
  top: -4px;
  left: -24px;
  font-size: 0.45em;
  font-weight: 700;
  width: 96px;
  text-align: center;
}

.links-list .mdl-button--fab .material-icons {
  font-size: 2em;
  transform: translate(-24px, -12px);
}

.links-list .name {
  margin: 20px;
  font-weight: 600;
  color: $secondary-text-color;
  font-size: 1.25em;
}
