/* LINKS LIST STYLES */

.links-list {
    margin: 100px 0;
    padding: 0;

    list-style: none;
    font-size: 1.25em;
}

.links-list li {
    display: inline-block;

    width: 150px;
    margin: 0 25px;

    cursor: pointer;
    text-align: center;

    border-radius: 10px;
    background: bisque;
    padding: 10px;
}

.links-list li img {
    display: block;

    margin: 20px auto 10px;

    border-radius: 5px;
}

.links-list li span {
    display: inline-block;
    padding: 5px;
}

.links-list span.number {
    font-size: 1.25em;
    border-radius: 10px;
    display: block;
    padding-top: 0;
}

.messages-list {

    margin: 50px;
    padding: 0;
    list-style: none;
}

.messages-list li {
    padding: 15px 0;
    margin: auto;

}
