@import 'palette';

.task-timeline {
  margin: 40px auto;
  max-width: 1080px;
  min-width: 600px;
  display: flex;
  position: relative;
}

.task-timeline hr {
  height: 1px;
  background: #cccccc;
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 0;
  margin-bottom: 85px; // margin for task-group + margin for task + half height of task
  z-index: 1;
}

.task-timeline .task-group {
  margin: 0 5px;
  flex: 1;
}

.task-timeline .task {
  font-size: 1em;
  font-weight: 600;
  margin: 0 10px;
  min-width: 50px;
  width: 75px;
  background: $primary-color-text;
  height: auto;
  line-height: normal;
  padding: 15px;
}

.task-timeline .task-show-all {
  margin: 10px auto 20px auto;
  display: block;
}
